@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
/* font-family: 'Poppins', sans-serif; */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #092327;
  color: white;
  min-height: 100vh;
  /* border: 1px solid red; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pw-container {
  background-color: #0b5351;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 19px 38px,
    rgba(0, 0, 0, 0.44) 0px 15px 12px;
  border-radius: 2px;
}

.pw-header {
  padding: 1rem;
}

.pw-body {
  padding: 0 1rem 1rem;
}

.pw {
  width: 100%;
  height: 70px;
  background-color: #092327;
  font-size: 1.3rem;
  padding: 1rem;

  display: flex;
  align-items: center;
  position: relative;
  overflow: auto;
}

.pw button {
  position: absolute;
  /* bottom: 20%; */
  right: 2%;
  /* transform: translate(-10%, -100%); */
  background-color: #00a9a5;
  padding: 0.5rem;
  color: #092327;
  border: none;
  opacity: 1;
  /* transition: opacity 0.2s ease, transform 0.2s ease; */

  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
}

/* .pw:hover button {
  opacity: 1;
  transform: translate(-10%, -50%);
} */

.form-control {
  color: white;

  display: flex;
  justify-content: space-between;
  margin: 0.75rem 0;
}

.form-control .len {
  /* border: 1px solid red; */
  background-color: #092327;
  border-radius: 2px;
  border: none;
  color: white;
  font-weight: bold;
  width: 4rem;
}

.generate {
  display: block;
  padding: 0.5rem;
  margin-top: 1rem;
  /* margin-bottom: 0.5rem; */
  width: 100%;
  font-weight: bold;
  font-size: 1rem;
  background-color: #00a9a5;
  border: none;
  border-radius: 2px;
  color: #092327;
  cursor: pointer;
}
